<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React w/ server side</title>
  <script src="/app.js"></script>
</head>
<body>
  <div id="app"><%- html %></div>
</body>
</html>
